<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Movies</h2>
<table class="table table-striped table-bordered" id="movieTable" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Year Released</th>
      <th>Run Time</th>
      <th>Synopsis</th>
      <th>Poster</th>
    </tr>
  </thead>
  <tbody>
  <% if(typeof films != "undefined" && films.length > 0){ %>
    <% films.forEach(function(film){ %>
      <tr>
        <td><%= film.id %></td>
        <td><%= film.title %></td>
        <td><%= film.genre %></td>
        <td><%= film.releaseYear %></td>
        <td><%= film.runTime %></td>
        <td><%= film.synopsis %></td>
        <td><img src="<%= film.poster %>"></td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table>
